## Assignment 4
### AML
#### Kabir Thakur
#### 427482939

### Libraries

In [336]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler,MinMaxScaler
import random

random.seed(10)

### Import and process data

In [337]:
df_original = pd.read_csv("HW4-data-fedPapers85.csv")

In [338]:
df_original

,author,filename,a,all,also,an,and,any,are,as,...,was,were,what,when,which,who,will,with,would,your
0,dispt,dispt_fed_49.txt,0.280,0.052,0.009,0.096,0.358,0.026,0.131,0.122,...,0.009,0.017,0.000,0.009,0.175,0.044,0.009,0.087,0.192,0.0
1,dispt,dispt_fed_50.txt,0.177,0.063,0.013,0.038,0.393,0.063,0.051,0.139,...,0.051,0.000,0.000,0.000,0.114,0.038,0.089,0.063,0.139,0.0
2,dispt,dispt_fed_51.txt,0.339,0.090,0.008,0.030,0.301,0.008,0.068,0.203,...,0.008,0.015,0.008,0.000,0.105,0.008,0.173,0.045,0.068,0.0
3,dispt,dispt_fed_52.txt,0.270,0.024,0.016,0.024,0.262,0.056,0.064,0.111,...,0.087,0.079,0.008,0.024,0.167,0.000,0.079,0.079,0.064,0.0
4,dispt,dispt_fed_53.txt,0.303,0.054,0.027,0.034,0.404,0.040,0.128,0.148,...,0.027,0.020,0.020,0.007,0.155,0.027,0.168,0.074,0.040,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,Madison,Madison_fed_45.txt,0.136,0.054,0.014,0.048,0.422,0.027,0.048,0.150,...,0.020,0.027,0.007,0.000,0.116,0.007,0.218,0.102,0.075,0.0
81,Madison,Madison_fed_46.txt,0.212,0.028,0.006,0.050,0.391,0.033,0.073,0.117,...,0.067,0.011,0.022,0.000,0.128,0.028,0.223,0.095,0.162,0.0
82,Madison,Madison_fed_47.txt,0.177,0.052,0.047,0.047,0.436,0.026,0.135,0.083,...,0.021,0.021,0.010,0.010,0.114,0.031,0.016,0.099,0.021,0.0
83,Madison,Madison_fed_48.txt,0.243,0.091,0.008,0.084,0.372,0.008,0.046,0.137,...,0.023,0.023,0.008,0.000,0.213,0.038,0.076,0.061,0.023,0.0
84,Madison,Madison_fed_58.txt,0.347,0.097,0.007,0.056,0.313,0.035,0.049,0.132,...,0.007,0.007,0.000,0.014,0.188,0.035,0.257,0.083,0.083,0.0

In [339]:
df_original["author"].unique() # 4 unique authors other than the disputed category

array(['dispt', 'Hamilton', 'HM', 'Jay', 'Madison'], dtype=object)

In [340]:
# df_original = df_original.drop(list(df_original[df_original["author"]=="Jay"].index))
# df_original = df_original.drop(list(df_original[df_original["author"]=="HM"].index))

In [341]:
df_original.isna().sum().sum() #No NA values

0

In [342]:
def process_dataframe(df):
    #scaler = StandardScaler()
    scaler= MinMaxScaler()
    for col in df.columns:
        # Check if column needs scaling
        if (df[col].min() < 0) or (df[col].max() > 1):
            # Scale the column
            df[col] = scaler.fit_transform(df[[col]])
            print(col)
    return df

In [343]:
df = df_original.drop("author",axis=1)
df = df.drop("filename",axis=1)
df = process_dataframe(df)

of
the

In [344]:
df

,a,all,also,an,and,any,are,as,at,be,...,was,were,what,when,which,who,will,with,would,your
0,0.280,0.052,0.009,0.096,0.358,0.026,0.131,0.122,0.017,0.411,...,0.009,0.017,0.000,0.009,0.175,0.044,0.009,0.087,0.192,0.0
1,0.177,0.063,0.013,0.038,0.393,0.063,0.051,0.139,0.114,0.393,...,0.051,0.000,0.000,0.000,0.114,0.038,0.089,0.063,0.139,0.0
2,0.339,0.090,0.008,0.030,0.301,0.008,0.068,0.203,0.023,0.474,...,0.008,0.015,0.008,0.000,0.105,0.008,0.173,0.045,0.068,0.0
3,0.270,0.024,0.016,0.024,0.262,0.056,0.064,0.111,0.056,0.365,...,0.087,0.079,0.008,0.024,0.167,0.000,0.079,0.079,0.064,0.0
4,0.303,0.054,0.027,0.034,0.404,0.040,0.128,0.148,0.013,0.344,...,0.027,0.020,0.020,0.007,0.155,0.027,0.168,0.074,0.040,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80,0.136,0.054,0.014,0.048,0.422,0.027,0.048,0.150,0.027,0.354,...,0.020,0.027,0.007,0.000,0.116,0.007,0.218,0.102,0.075,0.0
81,0.212,0.028,0.006,0.050,0.391,0.033,0.073,0.117,0.033,0.402,...,0.067,0.011,0.022,0.000,0.128,0.028,0.223,0.095,0.162,0.0
82,0.177,0.052,0.047,0.047,0.436,0.026,0.135,0.083,0.036,0.182,...,0.021,0.021,0.010,0.010,0.114,0.031,0.016,0.099,0.021,0.0
83,0.243,0.091,0.008,0.084,0.372,0.008,0.046,0.137,0.030,0.235,...,0.023,0.023,0.008,0.000,0.213,0.038,0.076,0.061,0.023,0.0
84,0.347,0.097,0.007,0.056,0.313,0.035,0.049,0.132,0.035,0.361,...,0.007,0.007,0.000,0.014,0.188,0.035,0.257,0.083,0.083,0.0

### Kmeans

In [351]:
kmeans = KMeans(n_clusters=4)
clusters = kmeans.fit(df)

In [352]:
labels = kmeans.labels_

### Figuring out the clusters and what authors they have

In [353]:
df_original["Clusters"] = labels

In [354]:
df_test = df_original.loc[:,["author","Clusters"]]

In [355]:
summary_df = df_test.groupby('Clusters')['author'].value_counts().reset_index(name='Count')

print(summary_df)

    Clusters    author  Count
0          0       Jay      5
1          0        HM      1
2          1   Madison     14
3          1     dispt      8
4          1        HM      2
5          1  Hamilton      1
6          2  Hamilton     11
7          2     dispt      1
8          3  Hamilton     39
9          3     dispt      2
10         3   Madison      1